.container {
  max-width: 900px;
  margin: auto;
  padding: 10px 20px;
}

.hero {
  padding: 15px 0;
  color: white;
  background-color: #3949ab;
}

.card {
  margin: 8px 0;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.illustration {
  margin: 10px 0;
  text-align: center;
}

.illustration img {
  width: 320px;
  max-width: 100%;
}
